body {
    background-color: #F7F8FC !important;
    margin: 0;
}

.login {
    padding: 0;
    margin: 0 !important;
    float: left;
    height: 100vh;
    overflow: auto;
}

#body_login {
    margin: 0;
}

#fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

#fill2 img {
    width: 60%;
    padding-top: 40px;
    display: block;
    margin: auto;
}

#loginForm {
    width: 70%;
    padding: 30px;
    display: block;
    margin: auto;
}

.identifiant {
    display: inline-block;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #77808D;
}

.textbox {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.textCheck {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

a {
    margin-right: 5px;
    color: #2C5282;
}

.connecter {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 12px;
    color: white;
    border-radius: 10px;
}

#topnav {
    background-color: transparent;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    text-align: right;
}

#topnav.scrolled {
    background-color: 102355 !important;
    transition: background-color 200ms linear;
}

#topnav #profile {
    vertical-align: middle;
    padding-top: 10px;
    padding-right: 10px;
}


/* Style the links inside the navigation bar */

#topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 60px;
    text-decoration: none;
    font-size: 20px;
}


/* Change the color of links on hover */

#topnav a:hover {
    background-color: #ddd;
    color: black;
}


/* Add a color to the active/current link */

#topnav a.active {
    color: white;
    text-decoration: underline;
}


/* Client */

.logo {
    position: absolute;
    z-index: 10;
    top: 150px;
    width: 250px;
    left: -100%;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    -ms-transition: 1s ease;
}

.logo.show {
    left: 100px;
}

.description .paragraphe1 {
    position: absolute;
    width: 741px;
    height: 123px;
    left: 106px;
    top: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.6px;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: 1.2s ease;
    -moz-transition: 1.2s ease;
    -o-transition: 1.2s ease;
    -ms-transition: 1s.2 ease;
}

.description .paragraphe1.show {
    top: 301px;
}

.description .paragraphe2 {
    position: absolute;
    width: 728px;
    height: 149px;
    left: 106px;
    top: 100%;
    font-style: normal;
    font-size: 25px;
    line-height: 31px;
    letter-spacing: 0.6px;
    color: #FFFFFF;
    -webkit-transition: 1.5s ease;
    -moz-transition: 1.5s ease;
    -o-transition: 1.5s ease;
    -ms-transition: 1.5s ease;
}

.description .paragraphe2.show {
    top: 424px;
}

#product1 {
    position: absolute;
    width: 280px;
    height: 350px;
    right: -100%;
    top: 116px;
    filter: drop-shadow(0px 6px 70px rgba(0, 0, 0, 0.5));
    border-radius: 82px;
    z-index: 3;
    -webkit-transition: 1.5s ease;
    -moz-transition: 1.5s ease;
    -o-transition: 1.5s ease;
    -ms-transition: 1.5s ease;
}

#product2 {
    position: absolute;
    width: 225px;
    height: 240px;
    right: -100%;
    top: 430px;
    background: url(image.png);
    filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.5));
    border-radius: 42px;
    z-index: 2;
    -webkit-transition: 1.5s ease;
    -moz-transition: 1.5s ease;
    -o-transition: 1.5s ease;
    -ms-transition: 1.5s ease;
}

.products_images #product1.show {
    right: 120px;
}

.products_images #product2.show {
    right: 30px;
}

.arrow-left {
    background-image: linear-gradient(to left top, #F7F8FC 0%, #F7F8FC 50%, transparent 50%);
    width: 100%;
    height: 200px;
    top: -200px;
    position: relative;
    left: 0;
}

.partie_2 {
    display: flex;
    justify-content: center;
}

.partie_2 label {
    top: -150px;
    position: relative;
    width: 373px;
    height: 50px;
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 35px;
    line-height: 44px;
    letter-spacing: 0.6px;
}

.partie_2 img {
    top: -240px;
    position: relative;
    width: 200px;
    height: 180px;
}

.partie_2 #description {
    position: absolute;
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 23px;
    line-height: 31px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.partie_3 {
    display: flex;
    justify-content: center;
    top: -100px;
    position: relative;
}

#objet_connecte {
    width: 70%;
    background-color: #FFFFFF;
    border-radius: 25px;
    border-collapse: separate;
    border: 1px solid #C8C8C8;
}

#objet_connecte .demande-MAJ {
    margin-left: 30px;
    border: antiquewhite;
    background-color: rgb(73, 161, 73);
    color: #FFFFFF;
    font-weight: bold;
    width: 150px;
    border-radius: 5px;
    text-align: center;
    padding: 2px;
}

.partie_4 {
    display: flex;
    justify-content: center;
}

.partie_4 .nvx_offre {
    position: relative;
    width: 591px;
    height: 123px;
    background: #102355;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    z-index: 10;
}

.partie_4 .nvx_offre label {
    position: relative;
    width: 291px;
    height: 46px;
    font-family: 'Mulish';
    font-weight: 800;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.6px;
    color: #FFFFFF;
}

.partie_4 .nvx_offre #voir_les_offre {
    position: relative;
    width: 171px;
    height: 83px;
    background: #FFFFFF;
    border-radius: 15px;
    margin-right: 50px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #000000;
}

.partie_5 {
    background-color: #EFF0F4;
    height: 600px;
    position: relative;
    top: -200px;
    padding-top: 150px;
}

.partie_5 #text_partie_5 {
    padding: 50px;
    width: fit-content;
    position: absolute;
    float: left;
    z-index: 10;
}

.partie_5 #word_map {
    float: right;
    width: 480px;
    top: -10px;
    position: relative;
}

.partie_6 {
    text-align: center;
    top: -250px;
    position: relative;
}

.partie_7 {
    padding: 100px;
    width: 100%;
    top: -250px;
    position: relative;
}

.partie_7 label {
    width: 86px;
    height: 29px;
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.6px;
}

.partie_7 input {
    width: 400px;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    background-color: #F7F8FC;
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.6px;
    color: #797777;
}

.partie_7 textarea {
    width: 100%;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    background-color: #F7F8FC;
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.6px;
    color: #797777;
}

.partie_7 .box {
    width: 40%;
    margin: 50px;
    float: left;
    position: relative;
}

.partie_7 .lastbox {
    width: 100%;
    margin: 50px;
    float: left;
    position: relative;
}

.footer {
    height: 330px;
    background-color: 848484;
    top: 300px;
    position: relative;
    text-align: center;
}

.footer img {
    position: absolute;
    z-index: 10;
    width: 250px;
    top: 0;
    left: 40%;
}

.footer label {
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.6px;
    top: -130px;
    position: relative;
}


/* employee */

#topmenu {
    background-color: #c4c4c4;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 100;
    text-align: right;
}

#topmenu.scrolled {
    background-color: 102355 !important;
    transition: background-color 200ms linear;
}

#topmenu #profile {
    padding-top: 10px;
    padding-right: 10px;
    vertical-align: middle;
    margin-top: 5px;
}


/* Style the links inside the navigation bar */

#topmenu a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 60px;
    text-decoration: none;
    font-size: 20px;
    vertical-align: -webkit-baseline-middle;
}

.imgtopmenu {
    float: left;
    height: 80px;
    padding-top: 10px;
    padding-left: 50px;
    padding-bottom: 10px;
}
/* Change the color of links on hover */

#topmenu a:hover {
    background-color: #ddd;
    color: black;
}


/* Add a color to the active/current link */

#topmenu a.active {
    color: white;
    text-decoration: underline;
}

.emp_left {
    margin-left: 10px;
    position: relative;
    float: left;
    width: 40%;
}


.emp_middle {
    position: relative;
    display: inline-block;
}

.emp_right {
    margin-right: 10px;
    position: relative;
    float: right;
}

.frame {
    position: absolute;
    width: 80%;
    height: 100%;
    left: 10%;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
}

.sub-frame {
    position: relative;
    width: 100%;
    height: 25%;
    border-radius: 10px;
}

#sub1 {
    background-color: #F8F8F8;
}

#sub2 {
    background-color: #E7E7E7;
}
